@import "tailwindcss";

@font-face {
    font-family: "DM-Sans";
    src: url("./assets//font/DM-Sans-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montrealMono";
    src: url("./assets//font/a02a323226559df3-s.p.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "typewriter";
    src: url("./assets//font/772d87814c6d4363-s.p.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

/* Add to your global CSS */
[data-scroll-container] {
  perspective: 1px;
}

.project {
  will-change: transform;
}